.form-control:focus{
  box-shadow:none !important
}

.footer{
  width:100%;
  height:auto;
  background-color:black;
}

@media (max-width: 576px){
  .media{
    display:flex;
    flex-direction:column;
  }

  .media > .news {
    width:100% !important;
  }
  
  .media-body{
    margin-top:-12%;
    text-align:center
  }
}